@font-face {
  font-family: 'InriaSans';
  src: url('../public/fonts/InriaSans-Regular.ttf') format('truetype');
  font-weight: normal;

  font-weight: 700; /* Bold font weight */
  src: url('../public/fonts/InriaSans-Bold.ttf') format('truetype');

  font-weight: 200; /* Light font weight */
  src: url('../public/fonts/InriaSans-Light.ttf') format('truetype');
}

/* Apply Inter as the default font for the entire page */
body {
  font-family: 'InriaSans', sans-serif;
}
